body{
  overflow: auto;
  display: flex;
  flex-direction: row;
  margin: 0;
  
}
.main, .chatbox, .nav, .scrollbar, .sidebar, .submain, h1, h2{
  display: flex;
  flex: 1;
}

.main {
  flex-direction: column;
  background-color: #b9dfeb;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 7;
  height: 100vh;

  
}

.submain{
  flex-direction: row;
  background-color: #b9dfeb;
  height: 100vh;


}
.chatbox {
  flex-direction: column;
  flex: 2;
}

.sidebar{
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: ;
}

.siderbar


.nav {
  width: 15%;
  flex: 1;
}

.scrollbar{
  flex: 6;
  flex-direction: column;
  width: auto;
  height: auto;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
header {
  position: relative;
}

.header-content {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #212529;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

label {
  padding: 23px 20px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  right: 0;
}

label span {
  width: 20px;
  height: 3px;
  display: block;
  background: #4f3e3e;
  position: relative;
}

label span::after, label span::before {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  width: inherit;
  height: inherit;
}

label span::before{
  top: 8px;
}

label span::after {
  bottom: 8px;
}

label::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 49px;
  top: 0;
  right: 0;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 20px black;
}


.dropdown {
  padding: 2px 1.5rem;
}

h1 {
justify-content: center;  font-size: 32pt;
}


h2 {
  font-size: 24pt;
  flex: 0;
}
header {
  position: relative;

}

.header-content {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #212529;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

label {
  padding: 23px 20px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

input[type="checkbox"]:focus + label::before {
  opacity: 0;
  position: absolute;
  right: 0;
  box-shadow: 0 0 20px black;
}

label span {
  width: 20px;
  height: 3px;
  display: block;
  background: #4f3e3e;
  position: relative;
}

label span::after, label span::before {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  width: inherit;
  height: inherit;
}

label span::before{
  top: 8px;
}

label span::after {
  bottom: 8px;
}

label::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 49px;
  top: 0;
  right: 0;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 20px black;
}

input[type="checkbox"]:checked ~ nav > ul {
  visibility: visible;
}

ul {
  background: #bac8cc;
}

ul li {
   list-style: none;
   font-size: 18px;
}

ul li button {
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}


.menus {
  position: absolute;
  top: 3.2rem;
  left: 0;
  right: 0;
  visibility: hidden;
  background-color: #8099ff;
  opacity: 1;
  z-index: 1;
}

.dropdown {
  padding: 2px 1.5rem;
}
.icon {
  clear: both;
}

img.icon{
  align-self: center;

}

a:hover {
  
  color: red;
  font-weight: bolder;
}
a:visited {
  color: blue;
}

.but1 {
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 65px;
  transition-duration: 0.75s;
  background-color: #6161ff;
  float: right;
  position: relative;
}

.but1:hover {
  color: #07394b;
  background-color: #8cb2c0;
  border-radius: 70px;
}

.btn {
  border: none;
  color: #ffffff;
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 150px;
  transition-duration: 0.75s;
  background-color: #6161ff;
  float: left;
  position: relative;
}

.btn:hover {
  color: #07394b;
  background-color: #8cb2c0;
  border-radius: 70px;
}